.docs {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    min-height: 50vh;
}

.docs-header {
    font-size: 3rem;
    color: rgb(36, 34, 48);
}

.docs-header h2 {
    font-size: 1.75rem;
    font-weight: 400;
    color: #747091;
    margin-top: -2.5rem;
    padding-bottom: 2rem;
}

.gh-bttn {
    padding: 1rem;
    margin: 7rem 4rem;
    font-size: 1.25rem;
    color: black;
    border: 2px solid black;
    border-radius: 0.25rem;
    text-decoration: none;
}

.joke {
    display: inline-block;
    animation: joke-eg 5s linear infinite;
    cursor: pointer;
}

@keyframes joke-eg {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}