.doc-endpoints {
    text-align: left;
}

.docs-content {
    padding: 1.5rem 4rem;
    margin: 0 auto;
}

.endpoint {
    font-size: 1.5rem;
}

.endpoint-link {
    padding: 2px 4px;
    font-size: 1rem;
    background-color: #f4f5f6;
    border-radius: 0.3rem;
    text-decoration: none;
    color: #656565;
    font-size: 1.35rem;
    margin-right: 1rem;
}