nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #010101;
    height: 10vh;
}

.logo {
    padding: 2rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 1.35rem;
    transition: all 333ms ease-in;
}

.logo:hover {
    transform: rotate(11deg) translate3d( 0, 0, 0) 50% 50%;
    -webkit-transform: rotate(11deg) translate3d( 0, 0, 0);
    -moz-transform: rotate(11deg) translate3d( 0, 0, 0);
    -ms-transform: rotate(11deg) translate3d( 0, 0, 0);
    -o-transform: rotate(11deg) translate3d( 0, 0, 0);
}

.nav-links {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    z-index: 1;
}

.nav-links a {
    color: #010101;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 1.45rem;
    margin: 0 20px;
}

nav a:hover {
    border-bottom: 3px solid;
    transition: all 100ms ease;
}

.burger-bttn {
    display: none;
    cursor: pointer;
    padding: 2rem;
}

.burger-bttn div {
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: #010101;
    transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .logo {
        padding: 1rem;
    }
    .nav-links {
        position: absolute;
        top: 10vh;
        right: 0px;
        height: 50vh;
        width: 50%;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        background-color: whitesmoke;
        transform: translateX(100%);
        transition: 0.5s ease-in;
    }
    .nav-links li {
        opacity: 0;
    }
    .burger-bttn {
        display: block;
        padding: 1rem;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.dim {
    background: rgba(0, 0, 0, 0.3);
    transition: all 2s all;
}