nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #010101;
}

.logo {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 1.35rem;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.nav-links a {
    color: #010101;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 1.15rem;
    margin: 0 10px;
}

nav a:hover {
    border-bottom: 3px solid;
    transition: all 150ms ease;
}

.burger-bttn {
    display: none;
}

.burger-bttn div {
    width: 25px;
    height: 3px;
    background-color: rgb(172, 9, 9);
    margin: 5px;
}

@media screen and (max-wdith: 768px) {
    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: red;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }
    .burger-bttn {
        display: flex;
    }
}